<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Pet Owners page</title>
</head>
<body>
    <h1 th:text="'List of Owner'"> Pet Owner LIST .....</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>first Name</th>
            <th>last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner?.id}">99</td>
            <td th:text="${owner?.firstName}"> JJJ</td>
            <td th:text="${owner?.lastName}"> HHH </td>
        </tr>
        </tbody>
    </table>
</body>
</html>